SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ACCEPT_INVALID_CERTS='false'
SMTP_ACCEPT_INVALID_HOSTNAMES='false'
SMTP_AUTH_MECHANISM=Plain
SMTP_DEBUG='false'
SMTP_FROM=
SMTP_FROM_NAME='Vault Warden'
SMTP_HOST=
SMTP_PORT='25'
SMTP_SECURITY=starttls
SIGNUPS_ALLOWED='true'
INVITATIONS_ALLOWED='true'
DOMAIN=